.brand-blob-small {
    position: absolute;
    top: 180px;
    left: -120px;
}
.brand-circle {
    position: absolute;
    top: -110px;
    right: -110px;
}

.brand-acc-dots {
    position: absolute;
    bottom: -90px;
    right: 10px;
}

.navbar {
    background-color: transparent !important;
    transition: ease-in-out 0.2s;
}

.c-nav-item {
    margin: 0 30px 0 30px;
    cursor: pointer;
}

.c-nav-link:hover {
    color: #663399;
}

.login-btn {
    border: 1px solid #663399;
    background-color: #fff;
    color: #663399;
    height: 40px;
    width: 150px;
    border-radius: 30px;
}

.login-btn:hover {
    background-color: #663399;
    color: #fff;
}

.get-started-btn {
    background-color: #9F62C9;
    color: #fff;
    height: 40px;
    width: 180px;
    border-radius: 30px;
}

.get-started-btn:hover {
    background-color: #663399;
}