<div class="container-fluid">
  <img src="../../assets/blob-small.svg" class="brand-blob-small" height="350" width="350" alt="Brand Blob" />
  <img src="../../assets/circle.svg" class="brand-circle" height="800" width="800" alt="Brand Circle" />
  <img src="../../assets/accounting_dots.svg" class="brand-acc-dots" height="50" width="400" alt="Brand dots" />

  <nav class="navbar fixed-top navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="margin-left: 50px;">
        <img src="../assets/logo@2x.png" alt="Navbar logo" width="60" height="60">
      </a>
      <div class="nav-container">
        <span class="c-nav-item c-nav-link">Products</span>
        <span class="c-nav-item c-nav-link">Solutions</span>
        <span class="c-nav-item c-nav-link">Pricing</span>
        <button class="login-btn c-nav-item">Login</button>
        <button class="get-started-btn c-nav-item">Get Started</button>
      </div>
    </div>
  </nav>
  <div class="row" style="height: 800px;">
    <div class="col">
      <app-brand></app-brand>
    </div>
    <div class="col-7" style="position: relative;">
      <app-eligibility-calculator></app-eligibility-calculator>
    </div>
  </div>
  <div class="row">
    <app-brand-details></app-brand-details>
  </div>
</div>