<div class="container-fluid brand-details">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-3" style="padding: 0;">
            <app-brand-detail-card imageInfo="../../assets/Get Paid Instantly.png" titleInfo="Quick case disbursement"
                subTitleInfo="Get term loans that your business needs in 72 hours"></app-brand-detail-card>
            <app-brand-detail-card imageInfo="../../assets/Low interest rate.png" titleInfo="Low-interest rate"
                subTitleInfo="Achieve your financial goals with an amazing interest rate starting at 13% per annum">
            </app-brand-detail-card>
            <app-brand-detail-card imageInfo="../../assets/Secure Payments.png" titleInfo="Zero paperwork"
                subTitleInfo="Get started instantly by submitting only your basic details & bank statements">
            </app-brand-detail-card>
        </div>
        <div class="col-3" style="position: relative;">
            <div style="position: absolute; top: 50%; transform: translateY(-50%);">
                <app-brand-detail-card imageInfo="../../assets/freelancer_feature_icon_6@1.5x.png"
                    titleInfo="Ace your business finances"
                    subTitleInfo="Manage banking, accounting & everything in between, on one platform">
                </app-brand-detail-card>
                <app-brand-detail-card imageInfo="../../assets/../../assets/Covid.png"
                    titleInfo="Loans to fight COVID-19"
                    subTitleInfo="Zero EMI for first 3 months on Back-to-Business loans upto 1 lakh">
                </app-brand-detail-card>
            </div>
        </div>
        <div class="col-5">
            <div class="brand-details-info">
                <img src="../../assets/Boost your business.svg" alt="Boost business message" />
                <img src="../../assets/Line 3.svg" class="brand-separator" height="8" width="150"
                    alt="Brand separator" />
                <img src="../../assets/Get your hands on a.svg" style="margin-top: 30px">
                <button class="get-acc-btn">
                    Get an Open Account
                </button>
            </div>
        </div>
    </div>
</div>