.brand-tagline {
    margin-top: 15%;
    margin-left: 25%;
}

.brand-separator {
    margin-top: -10%;
    margin-left: 25%;
}

.brand-acc-dots {
    margin-top: -5%;
    margin-left: 45%;
}

.brand-img {
    margin-top: 5%;
    margin-left: 15%;
}