<div style="position: relative;">
    <img src="../../assets/We make it Super Sim.svg" class="brand-tagline" height="150" width="400"
        alt="Brand tagline" />
    <img src="../../assets/Line 3.svg" class="brand-separator" height="8" width="150" alt="Brand separator" />
    <img src="../../assets/collect_img-video@2x.png" class="brand-img" height="260" width="455" alt="Brand Image" />
    <img src="../../assets/accounting_dots.svg" class="brand-acc-dots" height="50" width="400" alt="Brand dots" />
</div>